extends ../layout

block append css
  link(rel="stylesheet", href="/css/profile.css")

block append head
  script(src="/js/profile.js")

block content
  
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profile Information

  div.col-lg-12#pfp-container
      <img id="pfp" src='' height="300" width="300"></img>
  
  <div id="about">   
    .content#namewrapper
      <span id="name"></span>
    .content#subwrapper
      <p><span id="school"></span> <span id="gradYear"></span></p>
      <p><span id="major"></span><span id="divider">|</span><span id="eduLevel"></span></p>
    <div id="socialmedia-app">
      .content#social-wrapper
        ul#social-menu
          <li class="social-items" v-for="(socialmedia, index) in socialmedias">
            <a v-if="socialmedia[0] == 'phone'" v-bind:value="socialmedia[1]" ><i class="fas fa-mobile fa-3x" height=50></i></a>
            <a v-if="socialmedia[0] == 'devpost'" v-bind:href="socialmedia[1]"><img src="/assets/devpost.png" /></a>
            <a v-if="socialmedia[0] == 'website'" v-bind:href="socialmedia[1]"><i class="fab fa-blogger fa-3x" height=40></i></a>
            <a v-else v-bind:href="socialmedia[1]"><i v-bind:class="[{'fab': true}, socialmedia[0] ? 'fa-' + socialmedia[0] : '', {'fa-3x': true}]"></i></a>
          </li>
    </div>
    #chatwrapper
      .row
        .col-md-5
        form(id="startChat", method="POST")
          input(type='hidden', name='_csrf', value=_csrf)
          h6 Start a new chat:
          input(name="composedMessage" type="text")
          button(type='submit') Send
    
  </div>

  <div id="app">
    <section class="container">
      .row 
        .col-md-auto
        .preferences.col-md-8.col-sm-12
          .row
            .col-md-6
              h3.accent Interests
              <li class="interests" v-for="(interest, index) in interests">
                <span style="float:right">{{interest[1]}}/10</span>
                <span>{{interest[0]}}</span>
              </li>
            .col-md-6
              h3.accent Technologies
              <li class="technologies" v-for="(technology, index) in technologies">
                <span style="float:right">{{technology[1]}}/10</span>
                <span>{{technology[0]}}</span>
              </li>
              
        .col-md-auto
        .preferences.col-md-3.col-sm-12
          h2.accent
            | Fields
          <li class="field" v-for="(field,index) in fields">
            <span style="float:right">{{field[1]}}/10</span>
            <span>{{field[0]}}</span>
          </li>
    </section>


    <section class="container">
      .row
        .preferences.col-md-4.col-sm-12
          h2.accent
            | Language
          <li class="languages" v-for="(language,index) in languages">
            <span style="float:right">{{language[1]}}/10</span>
            <span>{{language[0]}}</span>
          </li>
        .col-md-auto
        .preferences.col-md-3.col-sm-12
          span#numOfHacks
          span    Hackathons
        .col-md-auto
        .preferences.col-md-4.col-sm-12
          h2.accent
            | About Me
          p#aboutMe
    </section>

  </div>

  script.
    var User = !{JSON.stringify(Profile)};
    
  
