extends ../layout

block append css
  link(href="/css/register.css", rel="stylesheet", type="text/css")
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">


block append head
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  script(src="/js/register.js")

block content
  .row#app 
    .col-md-2
    .col-md-8 
      form(action='/register?_csrf='+_csrf, method='POST', enctype='multipart/form-data', id="msform")
        <ul id="progressbar">
          <li class="active">Personal Details</li>
          <li>Preferences Settings</li>
          <li>Social Profiles</li>
        </ul>
        <fieldset id="fieldset1">
          //Gender
          form-group.row
            .col-md-2
            .col-md-9
              #error(style="background: red; color: #fff;display:none;padding:3px; margin-bottom: 7px;") Please fill in all required fields
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">Gender:</label><span class="asterisk">&#42<span>
            </div>
            .row
              .col-md-4
                .pretty.p-default.p-curve
                  input(type='radio', name='gender', value='male' id='gender1')
                  .state.p-info-o
                    label(class="gender_label") Male
              .col-md-4
                .pretty.p-default.p-curve
                  input(type='radio', name='gender', value='female' id='gender2')
                  .state.p-info-o
                    label(class="gender_label") Female
              .col-md-4
                .pretty.p-default.p-curve
                  input(type='radio', name='gender', value='other' id='gender3')
                  .state.p-info-o
                    label(class="gender_label") Other
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">School:</label><span class="asterisk">&#42<span>
            </div>
            input(id="school", name="school", type="text", style="height:30px; margin-top:10px;", placeholder="Please enter the insitution you attend")
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">Major:</label><span class="asterisk">&#42<span>
            </div>
            select(id="major", name="major")
              <option value="">Please select a value</option>
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">Expected Gradution<span class="asterisk">&#42<span></label>
            </div>
            select(name="gradYear", id="gradYear")
              <option value=""> Please select a value</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">Education level:</label><span class="asterisk">&#42<span>
            </div>
            select(name="eduLevel", id="eduLevel")
              <option value=""> Please select a value</option>
              <option value="high school">High School</option>
              <option value="undergrad">Undergrad</option>
              <option value="graduate">Graduate</option>
              <option value="phd">PhD</option>
          </div>
          <div class="row">
            <div class="col-md-3" style="margin-left: -12px;">
              <label class="font-weight-bold">Number Of Hackathons:</label><span class="asterisk">&#42<span>
            </div>
            select(name="numOfHackathons" id="numOfHackathons")
              <option value=""> Please select a value</option>
              <option value="0">This is my first one!</option>
              <option value="1">1</option>
              <option value="2">2-4</option>
              <option value="3">5-9</option>
              <option value="4">10+</option>
          </div>
          
          <input type="button" value="Next" id="next1" class="next action-button" />
        </fieldset>
        <fieldset id="fieldset2">
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Are You Interested In? </label>
            <select v-model="interestSelect" id="reg-interest" class="multiselect" name="interests" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">Languages You Are Familiar With: </label>
            <select v-model="languageSelect" id="reg-languages" class="multiselect" name="languages" multiple="multiple" style="width:100%;height: 30px;">
              <option value="First time coding!"> First time coding! </option>
            </select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Technologies Have You Used? </label>
            <select  v-model="technologiesSelect" id="reg-technologies" class="multiselect" name="technologies" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          <div>
            <label for="multiselect" style="padding-right: 10px;">What Fields Are You Interested In Working On? </label>
            <select v-model="fieldsSelect" id="reg-fields" class="multiselect" name="fields" multiple="multiple" style="width:100%;height: 30px;"></select>
          </div>
          div
            <label for="multiselect" style="padding-right: 10px;">Do you have an idea? Share it so others can join! </label>
            textarea(name="aboutMe", id="reg-idea", style="width:100%;border-radius:0px; color:black;")
          <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
          <input type="button" name="next" class="next action-button" value="Next" id="next2" />
        </fieldset>
        <fieldset id="fieldset3">
          .center
              .label Upload Profile Image
              input(type="file", name="myFile", id="imgInp")
              img#img-upload
              p Pick a picture so people can recognize you :)
          <div style="padding-top:15px;">
            
          </div>
          <div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Website:</label>
              </div>
              <input name="website" placeholder="Personal Website Link" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Devpost:</label>
              </div>
              <input name="devpost" placeholder="Devpost Link" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Linkedin:</label>
              </div>
              <input name="linkedin" placeholder="/in/your_name" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Github:</label>
              </div>
              <input name="github" placeholder="Github user name" />
            </div>
            #error_social.row(style="background: red; color: #fff;display:none;padding:3px; margin-bottom: 7px;") Please enter at least one method of contact
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Slack:</label>
              </div>
              <input id="slack" name="slack" placeholder="Slack Username" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Facebook:</label>
              </div>
              <input id="facebook" name="facebook" placeholder="Link to your facebook profile" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Instagram:</label>
              </div>
              <input id="instagram" name="instagram" placeholder="Instagram user name" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>WhatsApp:</label>
              </div>
              <input id="whatsapp" name="whatsapp" placeholder="Phone Number" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Wechat:</label>
              </div>
              <input id="wechat" name="wechat" placeholder="WeChat ID/Phone Number" />
            </div>
            <div class="row">
              <div class="col-md-3" style="margin-left: -12px;">
                <label>Groupme:</label>
              </div>
              <input id="groupme" name="groupme" placeholder="Name/Email/Phone Number" />
            </div>

          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
          <button class="submit action-button" type='submit' id="submitRegister"><i class= "fas fa-user-plus"></i>Register</button>
        </fieldset>


  
  