#conversation-list-container
  ul#conversation-list
    <li v-for="conversation in allConversations" class="chat-item" >
        <a v-bind:href="'https://pure-sea-97343.herokuapp.com/chat/'+conversation[0]">
        <img v-bind:src="conversation[1]" class="chat-heads" v-bind:id="conversation[0]"></a>
    </li class="chat-item">
  
  