.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/home', id="logo_link")
      img(src="/favicon.png", height="32")
      span(id="company_name")
        | Hackers Matcher
      //button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
    if !user
      form(action='/login', method="POST", id="login_form")
        input(type='hidden', name='_csrf', value=_csrf)
        ul.nav.navbar-nav.ml-auto
          li.nav-item(class=(title === 'Email') ? 'active' : undefined)
            //label(for='email' id="email_label") Email
            input.form-control(type='email', name='email', id='email_login', placeholder="Email")
          li.nav-item(style="margin-left: 20px;", class=(title === 'Create Account') ? 'active' : undefined)
            //label(for='password' id="password_label") Password
            input.form-control(placeholder="Password" type='password', name='password', id='password_login', autocomplete='new-password')
          .form-group
          button.btn.btn.btn-primary(type='submit', id="login")
            | Login
    else
      ul.nav.navbar-nav.ml-auto
        //-
          li
            form(id="searchForm")
              div.input-group
                input(type='hidden', name='_csrf', value=_csrf)
                input.form-control(type="text" id="searchContent" class="typeahead" list="potentials" placeholder="Search for users and hackathons")
                datalist(id="potentials")
                span.input-group-btn
                  button#search-btn(type='submit') 
                    i.fa.fa-search
        li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
          .dropdown-toggle.nav-link(data-toggle='dropdown')
            a(href='/account')
              img(src=user.profile.picture, id="headerPfp")
            span= user.name || user.email 
              i.caret
          ul.dropdown-menu
            li.dropdown-item
              a(href='/account') My Account
            li.divider.dropdown-item
              a(href='/preferences') My Preferences
            li.dropdown-item
              a(href='/logout') Logout
        //a(href="/home")
          button#home-btn.btn-primary(style="margin-top: 5px") Home
        
