extends layout

block append css
	link(rel='stylesheet', href='/css/landing.css')

block content
	div#register-box
		h1#title
			| Sign Up
		form(action='/signup', method='POST', id="signupForm")
			input(type='hidden', name='_csrf', value=_csrf)
			#error(style="background: red; color: #fff; width: 80%; display:none;padding:5px;")
			.form-group
			input.form-control(type="text", name="firstname", id='reg-firstname',placeholder="First Name",required)
			.form-group
			input.form-control(type="text", name="lastname", id='reg-lastname',placeholder="Last Name",required)
			.form-group
			input.form-control(type="email", name="email", id='reg-email',placeholder="Email",required)
			.form-group
			input.form-control(type="password", name="password", id='reg-password',placeholder="Password",required)
			.form-group
			input.form-control(type="password", name="confirmPassword", id='reg-confirmpassword',placeholder="Confirm Password",required)
			.form-group.offset-sm-3.col-md-7.pl-2
			<button class= "btn btn-success" type='submit' id="submitRegister"><i class= "fas fa-user-plus"></i>Register</button>
	
	div#about-box
		
		div#rectangle
			div.center 
			h1
				| Hackers Matcher
			h2
				| Meet your perfect team
		//.arrow-right
	//img.background(src="https://thecampusconnect.com/wp-content/uploads/2018/06/features-image-12.jpg")
	script.
		$('#conversation-list-container').hide();
		function isEmail(email) {
			var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			return regex.test(email);
		}

		$('#submitRegister').on('click', (e)=>{
			e.preventDefault();
			if($('#reg-password').val() != $('#reg-confirmpassword').val()){
				$('#error').text("Your passwords do not match");
				$('#error').show();
			}else if($('#reg-password').val().length < 8){
				$('#error').text("Please include 8 characters or more in your password");
				$('#error').show();
			}else if(!isEmail($('#reg-email').val())){
				$('#error').text("Please enter a valid email");
				$('#error').show();
			}else{
				$('#error').hide();
				$('#signupForm').submit();
			}
		});